header{
    width: 1280px;
    height: 122px;
    box-shadow: 0px 1px 20px 0px rgba(139, 139, 139, 0.65);
    align-items: center;
    
  
  }
  .container img{
    width: 209px;
    height: 104px;
    cursor: pointer;
  }
  
  
  .menu {
    color: #777777;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 531px;
    height: 34px;
    cursor: pointer;
  }


main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.disponibilidade {
  display:flex;
  flex-direction: column;
}




form {
display: flex;
flex-direction: column;
margin: 268px 619px 647px 121px;
}



  
  







  